extends ./../layouts/main.pug
block title
    p(class="success") Your order has been completed!
block description
    p Thanks for your purchase!
    p(class="small") Order ID: #{order.id}
//-
//- block actions
//-     a(href=link, target="_blank" class="button") Visit our website
